*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, li, a{
    font-size: 16px;
}

html, body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

header{
    padding: 30px 0;
    background-color: #00a9e9;
    color: #d5f4f9;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header__top a{
    font-size: 30px;
    font-weight: 700;
}

.header__top h1{
    font-size: 18px;
}

.header__content nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__content nav ul li#active {
    text-decoration: underline;
}

main{
    flex: 1 1 auto;
}

.content{
    padding: 30px 0;
}

.content__content{
    display: flex;
    justify-content: space-evenly;
}

table{
    border-collapse: collapse;
}

table #legend{
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

table thead{
    background-color: #3485e2;
}

table tbody{
    background-color: #009eff;
}

table th, td{
    color: #d5f4f9;
    border: 2px solid #0084b9;
    padding: 12px 20px;
    text-align: left;
}

table th{
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

table tr:nth-child(6) td:nth-child(2){
    background-color: #009ce6;
}

table tr:nth-child(6) td:nth-child(1){
    background-color: #008bd0;
}

table td:nth-child(4), table tr:nth-child(5) td:nth-child(2), table tr:nth-child(6) td:nth-child(2){
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    color: #fff;
    border: 2px solid #00a9e9;
    border-radius: 16px;
    padding: 30px;
}

label{
    width: 200px;
    padding: 12px 20px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    background-color: #008bd0;
    border-radius: 8px;
}

input{
    border: 2px solid #0084b9;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 12px 20px;
}

select{
    cursor: pointer;
    width: 200px;
    border: 2px solid #0084b9;
    border-radius: 8px;
    margin-bottom: 22px;
    padding: 12px 20px;
}

div:nth-child(5){
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

textarea{
    max-width: 435px;
    min-height: 45px;
    border: 2px solid #0084b9;
    border-radius: 8px;
    margin: 15px 0;
    padding: 12px 20px;
}

button{
    background-color: transparent;
    border: 2px solid #0084b9;
    border-radius: 8px;
    padding: 12px 20px;
    transition: 0.4s all;
}

button:hover{
    cursor: pointer;
    color: #d5f4f9;
    background-color: #008bd0;
    border: 2px solid transparent;
    transform: scale(1.05);
    transition: 0.4s all;
}

footer{
    background-color: #008bd0;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.footer__info{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #d5f4f9;
}

.footer__info a{
    font-size: 30px;
    font-weight: 700;
}

.footer__info p{
    font-family: "Lato", sans-serif;
    font-style: italic;
}